@font-face {
    font-family: "beba";
    src: url(../font/BEBAS___.ttf) format("truetype");
}

@font-face {
    font-family: "helvetica";
    src: url(../font/HelveticaNeue.ttf) format("truetype");
}

