.blog{
	padding-top:40px;
	img:first-child{
		
	}

	.col-md-9{

		img:first-child{
			width: 15%;
		    margin-left: -141px;
		    margin-right: 9px;
		    margin-top: -250px;
		}

		img:nth-child(2){
			width: $width-100;
		}
		
		img:nth-child(4){
			width: 15%;
		    margin-left: -141px;
		    margin-right: 9px;
		    margin-top: -250px;
		}

		img:nth-child(5){
			width: $width-100;
		}

		img:nth-child(7){
			width: 15%;
		    margin-left: -141px;
		    margin-right: 9px;
		    margin-top: -250px;
		}

		img:nth-child(8){
			width: $width-100;
		}
	}
}