
h1{
	font-family: $font_beba;
	margin-top:5px;
}
.navbar-fixed-top{
	background:white;
	font-family: $font_beba;
}
.navbar-header h1{
	color:#E25E36;
}
.navbar-header span{
	color:#F0B0A4;
}
.navbar-nav li a{
	color:#BFBFBF;
}

// .ei-slider-large img{
// 	position:relative;
// 	left:65px;
// 	top:-70px;
// 	border-right:15px white solid;
// 	border-left:15px white solid;
// }
